######################
# Project Specific
######################

######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*

######################
# Visual Studio Code
######################
.vscode/

######################
# Logs
######################
*.log*